@import '../../styles/index.scss';

.input {
  position: relative;
  width: 100%;
  padding: 6px 20px;
  margin-bottom: 24px;
  font-size: 20px;
  box-sizing: border-box;
  border: 2px solid $primary;
  outline-color: $success;
  outline-width: thick;
  border-radius: 3px;
}
