@import '../../styles/index.scss';

.smallPosts {
  padding: 0 50px 100px 50px;
  margin: 50px 0;
  border-bottom: 3px solid $success;
}

.smallPostCard {
  height: 100%;
  padding: 10px;
  border: 3px solid $primary;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
