$black: #000000;
$oxfordBlue: #14213d;
$apricot: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;

.mainBody {
  position: relative;
  min-height: 100vh;
  height: 100%;
  background-color: white;
  z-index: 2;
  min-width: 650px;
}

