$primary: #e5e5e5;
$success: #fca311;
$warning: #cc6b6b;
$white: #ffffff;
$black : #000000;


em {
    font-weight: 500;
  }
  .margin-left--16 {
    margin-left: 16px;
  }
  .margin-bottom--0{
      margin-bottom: 0;
  }
  .margin-bottom--8 {
    margin-bottom: 8px;
  }
  .margin-bottom--16 {
    margin-bottom: 16px;
  }
  .margin-bottom--24 {
    margin-bottom: 24px;
  }
  .margin-bottom--32 {
    margin-bottom: 32px;
  }
  .padding--0 {
    padding: 0;
  }
  .padding-bottom--32{
    padding-bottom: 32px;
  }
  .padding-right--24 {
    padding-right: 24px;
  }
  
  .success {
    background-color: $success;
  }
  .heading3 {
    font-size: 32px;
    font-weight: 500;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    padding-left: 10px;
    word-break: break-word;
  }
  .fixed{
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  .sticky{
    position: sticky;
    top: 120px;
    z-index: 5;
  }
  
  