$apricot: #fca311;
$platinum: #e5e5e5;

.heading1 {
  font-size: 50px;
  background-color: $apricot;
  font-weight: 700;
  margin: 0;
  margin-bottom: 64px;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  word-break: break-word;
}

.heading2 {
  font-size: 40px;
  margin: 0;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  word-break: break-word;
}
.heading3 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  padding-left: 10px;
  word-break: break-word;
}
.heading5 {
  font-size: 22px;
  font-weight: 500;
  margin: 0;
  text-align: center;
  word-break: break-word;
}
.heading5:first-letter {
  text-transform: uppercase;
}

.Paragraph1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: left;
  letter-spacing: 1.2;
  padding-left: 10px;
  line-height: 1.5;
  word-break: break-word;
}
.Paragraph1:first-letter {
  text-transform: uppercase;
}

.Paragraph2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 5px 0;
  text-align: left;
  letter-spacing: 1.2;
  line-height: 1.5;
  padding-left: 10px;
  word-break: break-word;
}
.Paragraph2:first-letter {
  text-transform: uppercase;
}
