@import '../../styles/index.scss';

.textarea {
  position: relative;
  width: 100%;
  min-width: 50%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
  padding: 6px 20px;
  margin-bottom: 20px;
  font-size: 20px;
  overflow: auto;
  box-sizing: border-box;
  border: 2px solid $primary;
  outline-color: $success;
  outline-width: thick;
  border-radius: 3px;
}
