@import '../../styles/index.scss';

.button {
    font-size: 24px;
    padding: 6px 12px;
    background-color: $platinum;
    font-weight: 500;
    border: none;
    margin: 2px;
    transition: all 0.2s;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
  }
