@import '../../styles/index.scss';

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 40vh;
}
.slider {
  position: relative;
  height: 100%;
  display: flex;
  transition: all 0.5s ease-out;
}

.arrow {
  position: absolute;
  z-index: 3;
  font-size: 50px;
  background: transparent;
  color: $success;
  outline: none;
  border: none;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.1s all;
  &:hover {
    opacity: 0.8;
    transform: scale(1.1);
  }
}
.arrowLeft {
  left: 0;
  top: 40%;
}
.arrowRight {
  right: 0;
  top: 40%;
}
