@import '../../styles/index.scss';

.text {
  background-color: $primary;
  background-color: rgba(252, 163, 17, 0.5);
  max-width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  font-size: 24px;
  text-shadow: 3px 1px 5px white;
}
.slide {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 30px;
  overflow: hidden;
}
