$apricot: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;

.comments {
  padding: 50px;
  padding-top: 0;
  margin-bottom: 50px;
  border-bottom: 3px solid $apricot;
}
.commentCard {
  display: flex;
  border: 3px solid $apricot;
  margin-bottom: 5px;
  padding: 20px;
}
